<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container">
  <div class="row">
<div class="col-lg-2"></div>

<div class="col-lg-8 my-3">
<h1 class="text-center">Agenda</h1>
<p class="text-center lead">
  Seus contatos estão abaixo.</p>

  <div class="row">
    <div class="col">
      <div class="alert alert-danger">
        um erro qualquer
      </div>
    </div>

    <div class="responsive-table">
      <table class="table">
        <tr>
          <td>Jose</td>
          <td>Maria</td>
          <td>037 98432-6754</td>
          <td>josemaria23@hotmail.com.br</td>
        </tr>
        <tr>
          <td>Jose</td>
          <td>Maria</td>
          <td>037 98432-6754</td>
          <td>josemaria23@hotmail.com.br</td>
        </tr>
        <tr>
          <td>Jose</td>
          <td>Maria</td>
          <td>037 98432-6754</td>
          <td>josemaria23@hotmail.com.br</td>
        </tr>
      </table>
    </div>

  </div>
</div>

<div class="col-lg-2"></div>
  </div>
</div>


<%- include('includes/footer'); %>